

$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$mobile: "(min-width: 320px) and (max-width: 480px)";

$tablet-landscape: "(min-width: 768px) and (max-width: 1023px) and (orientation: landscape)";
$mobile-landscape: "(min-width: 320px) and (max-width: 480px) and (orientation: landscape)";

@media #{$tablet} {

}

@media #{$desktop} {

}

@media #{$mobile} {

}

@media #{$tablet-landscape} {

}

@media #{$mobile-landscape} {

}